@keyframes subir {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 150px 20px;
  animation: subir 0.8s ease 0s forwards;
  opacity: 0;
}

.nome {
  font-size: 70px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -1px;
  margin-bottom: 20px;
  animation: subir 0.8s ease 0.2s forwards;
  opacity: 0;
}

.destaque {
  color: #c9a84c;
}

.subtitulo {
  font-size: 22px;
  color: #fffdfd;
  line-height: 1.5;
  max-width: 700px;
  margin-bottom: 60px;
  animation: subir 0.8s ease 0.4s forwards;
  opacity: 0;
}

.botoes {
  display: flex;
  gap: 16px;
  animation: subir 0.8s ease 0.6s forwards;
  opacity: 0;
}

.btnPrimario {
  padding: 14px 28px;
  border-radius: 12px;
  border: none;
  background-color: #c9a84c;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.btnPrimario:hover {
 box-shadow: inset 4px 4px 8px #4e4e49, inset -4px -4px 8px #c9a84c;}

.btnSecundario {
  padding: 14px 28px;
  border-radius: 12px;
  border: 2px solid #c9a84c;
  background-color: #ffffff;
  color: #c9a84c;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.btnSecundario:hover {
  box-shadow: inset 4px 4px 8px #4e4e49, inset -4px -4px 8px #ffffff;
}