.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #000000;
  box-shadow: 0 4px 12px #b8bec7;
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo {
  font-size: 23px;
  text-decoration: none;
  font-weight: 350;
  color: #c9a84c;
}

.links {
  display: flex;
  gap: 12px;
}

.link {
  padding: 8px 16px;
  border-radius: 12px;
  background-color: #c9a84c;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  border: 0px solid #c9a84c;
  transition: box-shadow 0.2s;
}


.link:hover {
 box-shadow: inset 4px 4px 8px #4e4e49, inset -4px -4px 8px #c9a84c;}

 